-
 var sideNavigationList = {
     'Home': {
         title: 'HTML and CSS'
         linkList: [
             {label: 'learn HTML', link:'/html'
             {label: 'learn CSS', link: '/css'},
             {label: 'learn JavaScript', link: '/javascript'},
             

         ]

     },
     'HTML': {
         title: 'adsada'
         linkList: [
             {label: 'asdasdasd', link: '/'},
             {label: 'asdasdasd', link: '/'},
             {label: 'asdasdasd', link: '/'},
             

         ]

     },
     'CSS': {
         title: 'adsada'
         linkList: [
             {label: 'asdasdasd', link: '/'},
             {label: 'asdasdasd', link: '/'},
             {label: 'asdasdasd', link: '/'},
             

         ]

     },
     'JavaScript': {
         title: 'adsada'
         linkList: [
             {label: 'asasdasd', link: '/'},
             {label: 'asasdasd', link: '/'},
             {label: 'asasdasd', link: '/'},
             

         ]

     },
 };
nav  
    h3 HTML si CSS
    a(href="/studiu-html") Studiu HTML
    a(href="/studiu-css") Studiu CSS
    a(href="/studiu-javascript") Studiu JavaScript