extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code HTML headings for begginers';
    var myDescription = 'Headings are important in HTML elements;
    var landingPage = 'HTML';
    var activelink = 'html/headings';
block awesome-content
  h1=title
  p=description
  h2 Example

 h1 This is the cool heading 1
 h2 This is the cool heading 2
 h3 This is the cool heading 3
 h4 This is the cool heading 4
 h5 This is the cool heading 5
 h6This is the cool heading 6