-
  var topNavigationList = [
      {label: 'Home', link: '/'},
      {label: 'HTML', link: '/html'},
      {label: 'CSS', link: '/css'},
      {label: 'JavaScript', link: '/javascript'},
  ];
header
    each navigation in topNavigationList
    //- check if the navigation label is the same as landingPage
    if navigation.label == landingPage
     a.current(href=navigation.link)=navigation.label
     a(href=navigation.link)=navigation.label
     a(href=navigation.link)=navigation.label
    //- div=landingPage 
    //- a.current(href="/") Acasa
    //- a(href="/studiu-html") Studiu HTML
    //- a(href="/studiu-css") Studiu CSS
    //- a(href="/studiu-javascript") Studiu JavaScript



