doctype html
html
    block cool-config
  head
    title Studiu in web development
    title=myTitle
    meta(
      name="description"
      content="Azi invatam programare in echipa prin zoom si exemple."
    )
    link(rel="stylesheet", href="style.css")
  body
    include ../header/header
    article
        block awesome-content

    include../nav/nav
    include ..//footer/footer.pug
      

      
      