extends ../_component/layout/template

block cool-config
  -
    var myTitle = 'Studiu in web development';
    var myDescription = 'Azi invatam programare in echipa prin zoom si exemple!!';
    var landingPage = '';
    var activelink = '';
block awesome-content
  h1 Pagina web HTML!!!
  p  Cu HTML poti sa creezi pagina ta web. Limbajul HTML consta intr-o serie de etichete numite si tag-uri care permit formatarea modului de afisare a informatiei din pagina Web(folosirea unor anumite fonturi, culori si stiluri pentru text, inserarea unor imagini sau a unor tabele, utilizarea listelor si a formularelor, etc). #[a(href="/html") Verifica!]
  h2 Pagina web CSS
  p  Cu CSS poti stiliza pagina web. Este un limbaj care defineste "layout-ul" pentru documentele HTML.CSS acopera culori, font-uri, margini, linii, inaltime, latime, imagini de fundal, pozitii avansate si multe alte optiuni.
  h2 Pagina web JavaScript
  p  Cu JavaScript poti sa creezi efecte interactive cu browserul. JavaScript este un limbaj de programare care iti permite sa implementezi lucruri complexe pe paginile web - de fiecare data cand o pagina web face mai mult decat sa afiseze informatii statice pentru ca tu sa te uiti - afisand actualizari de continut in timp util sau harti interactive, grafice animate 2D/3D, video jukebox, etc.JavaScript permite crearea unor aplicatii care sa ruleze in internet. #[a(href="/css") Click aici!]
  h2 Pagina web
  p  Prin exemple si exercitii se studiaza eficient limbajele de programare. #[a(href="/javascript") Descopera!]

