doctype html
html
  head
    title Studiu in web development
    meta(
      name="description"
      content="Azi invatam programare in echipa prin zoom si exemple."
    )
  body
    h1 Bine ati venit pe noul meu website
