doctype html
html
  head
    title Studiu in web development
    meta(
      name="description"
      content="Azi invatam programare in echipa prin zoom si exemple."
    )
  body
    header
      a(href="/") Acasa
      a(href="/studiu-html") Studiu HTML
      a(href="/studiu-css") Studiu CSS
      a(href="/studiu-javascript") Studiu JavaScript

    nav  
      h3 HTML si CSS
      a(href="/html") Studiu HTML
      a(href="/css") Studiu CSS
      a(href="/javascript") Studiu JavaScript

    article
      h1 Pagina web HTML
      p  Cu HTML poti sa creezi pagina ta web.Limbajul HTML consta intr-o serie de etichete numite si tag-uri care permit formatarea modului de afisare a informatiei din pagina Web(folosirea unor anumite fonturi, culori si stiluri pentru text, inserarea unor imagini sau a unor tabele, utilizarea listelor si a formularelor, etc)
      h2 Pagina web CSS
      p  Cu CSS poti stiliza pagina web.Este un limbaj care defineste "layout-ul" pentru documentele HTML.CSS acopera culori, font-uri, margini, linii, inaltime, latime, imagini de fundal, pozitii avansate si multe alte optiuni.
      h2 Pagina web JavaScript
      p  Cu JavaScript poti sa creezi efecte interactive cu browserul. JavaScript este un limbaj de programare care iti permite sa implementezi lucruri complexe pe paginile web - de fiecare data cand o pagina web face mai mult decat sa afiseze informatii statice pentru ca tu sa te uiti - afisand actualizari de continut in timp util sau harti interactive, grafice animate 2D/3D, video jukebox, etc.JavaScript permite crearea unor aplicatii care sa ruleze in internet.
      h2 Pagina web
      p  Prin exemple si exercitii se studiaza eficient limbajele de programare 

      footer &copy; 2019 ANCUTA HANTARI Web development sudent
      
      

      
      