doctype html
html
  head
    title Studiu in web development
    meta(
      name="description"
      content="Azi invatam programare in echipa prin zoom si exemple."
    )
  body
    header
      a(href="/") Acasa
      a(href="/studiu-html") Studiu HTML
      a(href="/studiu-css") Studiu CSS
      a(href="/studiu-javascript") Studiu JavaScript

    nav  
      h3 HTML si CSS
      a(href="/html") Studiu HTML
      a(href="/css") Studiu CSS
      a(href="/javascript") Studiu JavaScript