extends _component/layout/template

block awesome - content
  doctype html
  html
    head
      title Hello world! 
    body
      h1 I try hard to learn programming!
      p I want to learn as fast as possible, so next year in the same time I will be able to have work.


    block awesome - content
      CODETAP group
     