extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Change ME';
    var myDescription = 'Change ME';
    var landingPage = 'CSS';
    var activelink = 'css/backgrounds';
block awesome-content
  h1=title
  p=description
  h2 Example
  h3 Colour Names
  p Colours set by using colour names

  tr